*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans';
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    min-height: 100vh;
    width: 100%;
}

.main{
    height: calc(100vh - 6rem);
    display: flex;
    width: 100vw;
}

.main .home-left{
    height: 100%;
    width:60%;

    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 2rem;
}

.home-left h1{
    font-size: 7rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    color: #f1f1f1;
}

h1.name{
    font-family: 'Instrument Serif';
    font-size: 10rem;
    text-align: right;
    text-align: center;
    color: white;
    border: 4px solid #ffffff30;
    border-radius: 10px;
}

.main .home-right{
    height: 100%;
    width: 40%;
}